In [1]:
import pandas as pd
import geopandas as gpd
import shapely
import matplotlib
import descartes

# 2018 MSA Data

In [3]:
shp = gpd.read_file("US_cbsa_2018.shp")
shp = shp.to_crs('epsg:4326')
shp.head()

,GISJOIN,NAME,NAMELSAD,LSAD,Area,geometry
0,G10100,"Aberdeen, SD","Aberdeen, SD Micro Area",M2,2882.0200,"POLYGON ((-98.15597 45.93609, -98.15390 45.936..."
1,G10140,"Aberdeen, WA","Aberdeen, WA Micro Area",M2,1929.4900,"MULTIPOLYGON (((-124.00930 46.84129, -124.0094..."
2,G10180,"Abilene, TX","Abilene, TX Metro Area",M1,2757.7100,"POLYGON ((-99.11866 32.07959, -99.11896 32.079..."
3,G10220,"Ada, OK","Ada, OK Micro Area",M2,725.2180,"POLYGON ((-96.77568 34.89996, -96.77543 34.900..."
4,G10260,"Adjuntas, PR","Adjuntas, PR Micro Area",M2,67.0959,"POLYGON ((-66.67049 18.15283, -66.67055 18.152..."

In [91]:
## Encoding Type is "ISO-8859-1"
msa = pd.read_csv("MSA_2014_2018.csv", encoding = "ISO-8859-1")
msa = pd.DataFrame(msa)
msa.head()

,GISJOIN,YEAR,CBSA,CBSAA,NAME_E,Total,Male,Male: Under 5 years,Male: 5 to 9 years,Male: 10 to 14 years,...,Female: 50 to 54 years,Female: 55 to 59 years,Female: 60 and 61 years,Female: 62 to 64 years,Female: 65 and 66 years,Female: 67 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 years and over
0,G10100,2014-2018,"Aberdeen, SD Micro Area",10100,"Aberdeen, SD Micro Area",42780,21068,1428,1445,1410,...,1355,1562,522,828,563,619,708,812,511,822
1,G10140,2014-2018,"Aberdeen, WA Micro Area",10140,"Aberdeen, WA Micro Area",71967,36981,2025,2099,2124,...,2298,2797,1157,1820,1063,1544,1878,1101,813,1166
2,G10180,2014-2018,"Abilene, TX Metro Area",10180,"Abilene, TX Metro Area",170009,85988,6012,5538,5784,...,4994,4830,2355,2675,1734,2187,3373,2556,2124,2015
3,G10220,2014-2018,"Ada, OK Micro Area",10220,"Ada, OK Micro Area",38358,18768,1378,1244,1310,...,1178,1226,437,707,401,587,822,683,497,432
4,G10260,2014-2018,"Adjuntas, PR Micro Area; Ponce-Coamo-Santa Isa...",10260,"Adjuntas, PR Micro Area",18181,8862,443,479,659,...,649,571,322,405,218,341,411,273,262,213

In [92]:
count = 0
for i in msa.columns:
    print (count, i)
    count = count + 1

0 GISJOIN
1 YEAR
2 CBSA
3 CBSAA
4 NAME_E
5 Total
6 Male
7 Male: Under 5 years
8 Male: 5 to 9 years
9 Male: 10 to 14 years
10 Male: 15 to 17 years
11 Male: 18 and 19 years
12 Male: 20 years
13 Male: 21 years
14 Male: 22 to 24 years
15 Male: 25 to 29 years
16 Male: 30 to 34 years
17 Male: 35 to 39 years
18 Male: 40 to 44 years
19 Male: 45 to 49 years
20 Male: 50 to 54 years
21 Male: 55 to 59 years
22 Male: 60 and 61 years
23 Male: 62 to 64 years
24 Male: 65 and 66 years
25 Male: 67 to 69 years
26 Male: 70 to 74 years
27 Male: 75 to 79 years
28 Male: 80 to 84 years
29 Male: 85 years and over
30 Female
31 Female: Under 5 years
32 Female: 5 to 9 years
33 Female: 10 to 14 years
34 Female: 15 to 17 years
35 Female: 18 and 19 years
36 Female: 20 years
37 Female: 21 years
38 Female: 22 to 24 years
39 Female: 25 to 29 years
40 Female: 30 to 34 years
41 Female: 35 to 39 years
42 Female: 40 to 44 years
43 Female: 45 to 49 years
44 Female: 50 to 54 years
45 Female: 55 to 59 years
46 Female: 60 and 61 years
47 Female: 62 to 64 years
48 Female: 65 and 66 years
49 Female: 67 to 69 years
50 Female: 70 to 74 years
51 Female: 75 to 79 years
52 Female: 80 to 84 years
53 Female: 85 years and over

In [93]:
## iterate each row  
genZ = []
millennial = []
genX = []
babyBoomer = []
silentG = []
for index, row in msa.iterrows(): 
    genZ_total = row[7] + row[8]+ row[9] + row[10]+ row[11]+ row[12]+ row[13] + row[31]+ row[32]+ row[33]+ row[34]+ row[35]+ row[36]+ row[37]
    millennial_total = row[14] + row[15] + row[16] + row[38] + row[39] + row[40]
    genX_total = row[17] + row[18] + row[19] + row[20] + row[41] + row[42] + row[43] + row[44]
    bb_total = row[21] + row[22] + row[23] + row[24] + row[25] + row[26] + row[45] + row[46] + row[47] + row[48] + row[49] + row[50]
    sg_total = row[27] + row[28] + row[29] + row[51] + row[52] + row[53]
    genZ.append(genZ_total)
    millennial.append(millennial_total)
    genX.append(genX_total)
    babyBoomer.append(bb_total)
    silentG.append(sg_total)
msa['GenZ'] = genZ
msa['Millennials'] = millennial
msa['GenX'] = genX
msa['BabyBoomer'] = babyBoomer
msa['SilentG'] = silentG
msa.head()

,GISJOIN,YEAR,CBSA,CBSAA,NAME_E,Total,Male,Male: Under 5 years,Male: 5 to 9 years,Male: 10 to 14 years,...,Female: 67 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 years and over,GenZ,Millennials,GenX,BabyBoomer,SilentG
0,G10100,2014-2018,"Aberdeen, SD Micro Area",10100,"Aberdeen, SD Micro Area",42780,21068,1428,1445,1410,...,619,708,812,511,822,12708,7433,9745,9354,3540
1,G10140,2014-2018,"Aberdeen, WA Micro Area",10140,"Aberdeen, WA Micro Area",71967,36981,2025,2099,2124,...,1544,1878,1101,813,1166,17881,10675,17462,20294,5655
2,G10180,2014-2018,"Abilene, TX Metro Area",10180,"Abilene, TX Metro Area",170009,85988,6012,5538,5784,...,2187,3373,2556,2124,2015,52750,35024,38118,32842,11275
3,G10220,2014-2018,"Ada, OK Micro Area",10220,"Ada, OK Micro Area",38358,18768,1378,1244,1310,...,587,822,683,497,432,11974,6961,8736,7915,2772
4,G10260,2014-2018,"Adjuntas, PR Micro Area; Ponce-Coamo-Santa Isa...",10260,"Adjuntas, PR Micro Area",18181,8862,443,479,659,...,341,411,273,262,213,4803,3063,4583,4378,1354

In [94]:
join = msa
columns = ['Male', 'Male: Under 5 years', 'Male: 5 to 9 years', 'Male: 10 to 14 years',
         'Male: 15 to 17 years','Male: 18 and 19 years','Male: 20 years','Male: 21 years','Male: 22 to 24 years',
         'Male: 25 to 29 years','Male: 30 to 34 years','Male: 35 to 39 years','Male: 40 to 44 years','Male: 45 to 49 years',
         'Male: 50 to 54 years','Male: 55 to 59 years','Male: 60 and 61 years','Male: 62 to 64 years','Male: 65 and 66 years',
         'Male: 67 to 69 years','Male: 70 to 74 years','Male: 75 to 79 years','Male: 80 to 84 years','Male: 85 years and over',
         'Female','Female: Under 5 years','Female: 5 to 9 years','Female: 10 to 14 years','Female: 15 to 17 years','Female: 18 and 19 years',
         'Female: 20 years','Female: 21 years','Female: 22 to 24 years','Female: 25 to 29 years','Female: 30 to 34 years','Female: 35 to 39 years',
         'Female: 40 to 44 years','Female: 45 to 49 years','Female: 50 to 54 years','Female: 55 to 59 years','Female: 60 and 61 years','Female: 62 to 64 years',
         'Female: 65 and 66 years','Female: 67 to 69 years','Female: 70 to 74 years','Female: 75 to 79 years','Female: 80 to 84 years','Female: 85 years and over'
]
join.drop(columns, inplace=True, axis=1)
join.head()

,GISJOIN,YEAR,CBSA,CBSAA,NAME_E,Total,GenZ,Millennials,GenX,BabyBoomer,SilentG
0,G10100,2014-2018,"Aberdeen, SD Micro Area",10100,"Aberdeen, SD Micro Area",42780,12708,7433,9745,9354,3540
1,G10140,2014-2018,"Aberdeen, WA Micro Area",10140,"Aberdeen, WA Micro Area",71967,17881,10675,17462,20294,5655
2,G10180,2014-2018,"Abilene, TX Metro Area",10180,"Abilene, TX Metro Area",170009,52750,35024,38118,32842,11275
3,G10220,2014-2018,"Ada, OK Micro Area",10220,"Ada, OK Micro Area",38358,11974,6961,8736,7915,2772
4,G10260,2014-2018,"Adjuntas, PR Micro Area; Ponce-Coamo-Santa Isa...",10260,"Adjuntas, PR Micro Area",18181,4803,3063,4583,4378,1354

In [95]:
msa_data = shp.merge(join, on='GISJOIN')

In [96]:
msa_data.head()

,GISJOIN,NAME,NAMELSAD,LSAD,Area,geometry,YEAR,CBSA,CBSAA,NAME_E,Total,GenZ,Millennials,GenX,BabyBoomer,SilentG
0,G10100,"Aberdeen, SD","Aberdeen, SD Micro Area",M2,2882.0200,"POLYGON ((-98.15597 45.93609, -98.15390 45.936...",2014-2018,"Aberdeen, SD Micro Area",10100,"Aberdeen, SD Micro Area",42780,12708,7433,9745,9354,3540
1,G10140,"Aberdeen, WA","Aberdeen, WA Micro Area",M2,1929.4900,"MULTIPOLYGON (((-124.00930 46.84129, -124.0094...",2014-2018,"Aberdeen, WA Micro Area",10140,"Aberdeen, WA Micro Area",71967,17881,10675,17462,20294,5655
2,G10180,"Abilene, TX","Abilene, TX Metro Area",M1,2757.7100,"POLYGON ((-99.11866 32.07959, -99.11896 32.079...",2014-2018,"Abilene, TX Metro Area",10180,"Abilene, TX Metro Area",170009,52750,35024,38118,32842,11275
3,G10220,"Ada, OK","Ada, OK Micro Area",M2,725.2180,"POLYGON ((-96.77568 34.89996, -96.77543 34.900...",2014-2018,"Ada, OK Micro Area",10220,"Ada, OK Micro Area",38358,11974,6961,8736,7915,2772
4,G10260,"Adjuntas, PR","Adjuntas, PR Micro Area",M2,67.0959,"POLYGON ((-66.67049 18.15283, -66.67055 18.152...",2014-2018,"Adjuntas, PR Micro Area; Ponce-Coamo-Santa Isa...",10260,"Adjuntas, PR Micro Area",18181,4803,3063,4583,4378,1354

In [97]:
from shapely.geometry import Point, MultiPoint, LineString, Polygon, shape

msa_data = gpd.GeoDataFrame(msa_data)
msa_data['lat']=msa_data.centroid.y
msa_data['long']=msa_data.centroid.x
genZ_density = []
millennial_density = []
genX_density = []
babyBoomer_density = []
silentG_density = []
for index, row in msa_data.iterrows(): 
    genZ_density.append(float(row['GenZ'])/float(row['Area']))
    millennial_density.append(float(row['Millennials']/float(row['Area'])))
    genX_density.append(float(row['GenX']/float(row['Area'])))
    babyBoomer_density.append(float(row['BabyBoomer']/float(row['Area'])))
    silentG_density.append(float(row['SilentG']/float(row['Area'])))
msa_data['GenZ_Density'] = genZ_density
msa_data['Millennial_Density'] = millennial_density
msa_data['GenX_Density'] = genX_density
msa_data['BabyBoomer_Density'] = babyBoomer_density
msa_data['SilentG_Density'] = silentG_density
msa_data.head()

,GISJOIN,NAME,NAMELSAD,LSAD,Area,geometry,YEAR,CBSA,CBSAA,NAME_E,...,GenX,BabyBoomer,SilentG,lat,long,GenZ_Density,Millennial_Density,GenX_Density,BabyBoomer_Density,SilentG_Density
0,G10100,"Aberdeen, SD","Aberdeen, SD Micro Area",M2,2882.0200,"POLYGON ((-98.15597 45.93609, -98.15390 45.936...",2014-2018,"Aberdeen, SD Micro Area",10100,"Aberdeen, SD Micro Area",...,9745,9354,3540,45.521579,-98.695954,4.409407,2.579094,3.381309,3.245640,1.228305
1,G10140,"Aberdeen, WA","Aberdeen, WA Micro Area",M2,1929.4900,"MULTIPOLYGON (((-124.00930 46.84129, -124.0094...",2014-2018,"Aberdeen, WA Micro Area",10140,"Aberdeen, WA Micro Area",...,17462,20294,5655,47.150967,-123.772758,9.267216,5.532550,9.050060,10.517805,2.930826
2,G10180,"Abilene, TX","Abilene, TX Metro Area",M1,2757.7100,"POLYGON ((-99.11866 32.07959, -99.11896 32.079...",2014-2018,"Abilene, TX Metro Area",10180,"Abilene, TX Metro Area",...,38118,32842,11275,32.449690,-99.717678,19.128190,12.700393,13.822338,11.909157,4.088537
3,G10220,"Ada, OK","Ada, OK Micro Area",M2,725.2180,"POLYGON ((-96.77568 34.89996, -96.77543 34.900...",2014-2018,"Ada, OK Micro Area",10220,"Ada, OK Micro Area",...,8736,7915,2772,34.728000,-96.684439,16.510897,9.598493,12.046033,10.913960,3.822299
4,G10260,"Adjuntas, PR","Adjuntas, PR Micro Area",M2,67.0959,"POLYGON ((-66.67049 18.15283, -66.67055 18.152...",2014-2018,"Adjuntas, PR Micro Area; Ponce-Coamo-Santa Isa...",10260,"Adjuntas, PR Micro Area",...,4583,4378,1354,18.179733,-66.753957,71.584106,45.651076,68.305217,65.249889,20.180071

In [107]:
msa_list = []

for row in msa_data.itertuples(index=True):
    msa = {} #node dict
    msa['Name'] = getattr(row, "NAMELSAD")
    msa['Total'] = getattr(row, "Total")
    msa['Lat'] = getattr(row, "lat")
    msa['Long'] = getattr(row, "long")
    msa['GenZ'] =  getattr(row, "GenZ")
    msa['Millennials'] = getattr(row, "Millennials")
    msa['GenX'] = getattr(row, "GenX")
    msa['BabyBoomers'] = getattr(row, "BabyBoomer")
    msa['silentG'] = getattr(row, 'SilentG')
    msa['GenZ_Density'] = getattr(row, 'GenZ_Density')
    msa['Millennials_Density'] = getattr(row, 'Millennial_Density')
    msa['GenX_Density'] = getattr(row, 'GenX_Density')
    msa['BabyBoomers_Density'] = getattr(row, 'BabyBoomer_Density')
    msa['silentG_Density'] = getattr(row, 'SilentG_Density')
    msa_list.append(msa)

import json
msa_json = json.dumps(msa_list) #dumps the list into a json

## output: write a json file
with open('msa_2018.json','w') as  json_file:
    json_file.write(msa_json)
    print ('list is converted to json!')
    json_file.close()

list is converted to json!

In [110]:
msa_json_load = json.loads(msa_json) #load the json
geojson = {"type":"FeatureCollection"} 
features = []
for i in msa_json_load: 
    properties = {} #properties dictionary
    centroids = []
    name = (i['Name'])
    long = (i["Long"]) #finds the latitude in the json
    lat = (i["Lat"]) #finds the longitude in the json
    centroids.append(long)
    centroids.append(lat)
    total = (i['Total'])
    genZ = (i['GenZ'])
    millennial = (i['Millennials'])
    genX = (i['GenX'])
    babyBoomer = (i['BabyBoomers'])
    silentG = (i['silentG'])
    genZ_d = (i['GenZ_Density'])
    millennial_d = (i['Millennials_Density'])
    genX_d = (i['GenX_Density'])
    babyBoomer_d = (i['BabyBoomers_Density'])
    silentG_d = (i['silentG_Density'])
    msa_dict = {"type":"Feature","geometry":{"type":"Point","coordinates":centroids},"properties":{"MSA": name, "Total": total, "GenZ":genZ, "GenZ_Density": genZ_d,
                                                                                                       "Millennials": millennial, "Millennials_Density": millennial_d,
                                                                                                       "GenX": genX, "GenX_Density": genX_d, "BabyBoomer":babyBoomer, 
                                                                                                       "BabyBoomers_Density": babyBoomer_d, "SilentG":silentG,
                                                                                                      "SilentG_Density": silentG_d}}
    features.append(msa_dict)

    
geojson.update({"features":features})

msa_geojson = json.dumps(geojson) #dump the json into a geojson

with open('msa_2018_geojson.json','w') as  geojson_file:
    geojson_file.write(msa_geojson)
    print ('json is converted to geojson!')

json is converted to geojson!

# 2010 MSA

In [67]:
shp_2 = gpd.read_file("US_cbsa_2010.shp")
shp_2 = shp.to_crs('epsg:4326')
shp_2.head()

,GISJOIN,NAME,NAMELSAD,LSAD,Area,geometry
0,G10100,"Aberdeen, SD","Aberdeen, SD Micro Area",M2,2882.0200,"POLYGON ((-98.15597 45.93609, -98.15390 45.936..."
1,G10140,"Aberdeen, WA","Aberdeen, WA Micro Area",M2,1929.4900,"MULTIPOLYGON (((-124.00930 46.84129, -124.0094..."
2,G10180,"Abilene, TX","Abilene, TX Metro Area",M1,2757.7100,"POLYGON ((-99.11866 32.07959, -99.11896 32.079..."
3,G10220,"Ada, OK","Ada, OK Micro Area",M2,725.2180,"POLYGON ((-96.77568 34.89996, -96.77543 34.900..."
4,G10260,"Adjuntas, PR","Adjuntas, PR Micro Area",M2,67.0959,"POLYGON ((-66.67049 18.15283, -66.67055 18.152..."

In [58]:
## Encoding Type is "ISO-8859-1"
msa_2010 = pd.read_csv("MSA_2010.csv", encoding = "ISO-8859-1")
msa_2010 = pd.DataFrame(msa_2010)
msa_2010.head()

,GISJOIN,CBSA,NAME,Total,Male,Male: Under 5 years,Male: 5 to 9 years,Male: 10 to 14 years,Male: 15 to 17 years,Male: 18 and 19 years,...,Female: 50 to 54 years,Female: 55 to 59 years,Female: 60 and 61 years,Female: 62 to 64 years,Female: 65 and 66 years,Female: 67 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 years and over
0,G10020,"Abbeville, LA Micro Area","Abbeville, LA Micro Area",57999,28214,2212,2279,2167,1271,788,...,2223,1834,653,874,481,682,965,863,633,657
1,G10100,"Aberdeen, SD Micro Area","Aberdeen, SD Micro Area",40602,19864,1399,1284,1299,818,537,...,1534,1413,504,631,348,497,781,737,666,855
2,G10140,"Aberdeen, WA Micro Area","Aberdeen, WA Micro Area",72797,37357,2136,2073,2304,1449,1050,...,2828,2792,1100,1582,829,1084,1493,1047,881,902
3,G10180,"Abilene, TX Metro Area","Abilene, TX Metro Area",165252,83018,5946,5452,5275,3183,2942,...,5507,4947,1795,2441,1504,1929,2990,2589,1940,2019
4,G10220,"Ada, OK Micro Area","Ada, OK Micro Area",37492,18192,1349,1223,1132,730,673,...,1319,1199,400,682,363,471,759,615,458,488

In [59]:
index = msa_2010.index
print(len(index))

955

In [60]:
count = 0
for i in msa_2010.columns:
    print (count, i)
    count = count + 1

0 GISJOIN
1 CBSA
2 NAME
3 Total
4 Male
5 Male: Under 5 years
6 Male: 5 to 9 years
7 Male: 10 to 14 years
8 Male: 15 to 17 years
9 Male: 18 and 19 years
10 Male: 20 years
11 Male: 21 years
12 Male: 22 to 24 years
13 Male: 25 to 29 years
14 Male: 30 to 34 years
15 Male: 35 to 39 years
16 Male: 40 to 44 years
17 Male: 45 to 49 years
18 Male: 50 to 54 years
19 Male: 55 to 59 years
20 Male: 60 and 61 years
21 Male: 62 to 64 years
22 Male: 65 and 66 years
23 Male: 67 to 69 years
24 Male: 70 to 74 years
25 Male: 75 to 79 years
26 Male: 80 to 84 years
27 Male: 85 years and over
28 Female
29 Female: Under 5 years
30 Female: 5 to 9 years
31 Female: 10 to 14 years
32 Female: 15 to 17 years
33 Female: 18 and 19 years
34 Female: 20 years
35 Female: 21 years
36 Female: 22 to 24 years
37 Female: 25 to 29 years
38 Female: 30 to 34 years
39 Female: 35 to 39 years
40 Female: 40 to 44 years
41 Female: 45 to 49 years
42 Female: 50 to 54 years
43 Female: 55 to 59 years
44 Female: 60 and 61 years
45 Female: 62 to 64 years
46 Female: 65 and 66 years
47 Female: 67 to 69 years
48 Female: 70 to 74 years
49 Female: 75 to 79 years
50 Female: 80 to 84 years
51 Female: 85 years and over

In [61]:
## iterate each row  
genZ = []
millennial = []
genX = []
babyBoomer = []
silentG = []
for index, row in msa_2010.iterrows(): 
    genZ_total = row[5] + row[6]+ row[7] + row[29]+ row[30]+ row[31]
    millennial_total = row[8] + row[9] + row[10] + row[11] + row[12] + row[13] + row[32] + row[33] + row[34] + row[35] + row[36] + row[37]
    genX_total = row[14] + row[15] + row[16] + row[38] + row[39] + row[40]
    bb_total = row[17] + row[18] + row[19] + row[20] + row[21] + row[41] + row[42] + row[43] + row[44] + row[45]
    sg_total = row[22] + row[23] + row[24] + row[25] + row[26] + row[27] + row[46] + row[47] + row[48] + row[49] + row[50] + row[51]
    genZ.append(genZ_total)
    millennial.append(millennial_total)
    genX.append(genX_total)
    babyBoomer.append(bb_total)
    silentG.append(sg_total)
msa_2010['GenZ'] = genZ
msa_2010['Millennials'] = millennial
msa_2010['GenX'] = genX
msa_2010['BabyBoomer'] = babyBoomer
msa_2010['SilentG'] = silentG
msa_2010.head()

,GISJOIN,CBSA,NAME,Total,Male,Male: Under 5 years,Male: 5 to 9 years,Male: 10 to 14 years,Male: 15 to 17 years,Male: 18 and 19 years,...,Female: 67 to 69 years,Female: 70 to 74 years,Female: 75 to 79 years,Female: 80 to 84 years,Female: 85 years and over,GenZ,Millennials,GenX,BabyBoomer,SilentG
0,G10020,"Abbeville, LA Micro Area","Abbeville, LA Micro Area",57999,28214,2212,2279,2167,1271,788,...,682,965,863,633,657,12980,11386,10932,15193,7508
1,G10100,"Aberdeen, SD Micro Area","Aberdeen, SD Micro Area",40602,19864,1399,1284,1299,818,537,...,497,781,737,666,855,7863,8366,6699,10918,6756
2,G10140,"Aberdeen, WA Micro Area","Aberdeen, WA Micro Area",72797,37357,2136,2073,2304,1449,1050,...,1084,1493,1047,881,902,12894,13376,12872,21806,11849
3,G10180,"Abilene, TX Metro Area","Abilene, TX Metro Area",165252,83018,5946,5452,5275,3183,2942,...,1929,2990,2589,1940,2019,32800,40520,29113,40236,22583
4,G10220,"Ada, OK Micro Area","Ada, OK Micro Area",37492,18192,1349,1223,1132,730,673,...,471,759,615,458,488,7348,8916,6365,9293,5570

In [62]:
index = msa_2010.index
print(len(index))

955

In [63]:
join = msa_2010
columns = ['Male', 'Male: Under 5 years', 'Male: 5 to 9 years', 'Male: 10 to 14 years',
         'Male: 15 to 17 years','Male: 18 and 19 years','Male: 20 years','Male: 21 years','Male: 22 to 24 years',
         'Male: 25 to 29 years','Male: 30 to 34 years','Male: 35 to 39 years','Male: 40 to 44 years','Male: 45 to 49 years',
         'Male: 50 to 54 years','Male: 55 to 59 years','Male: 60 and 61 years','Male: 62 to 64 years','Male: 65 and 66 years',
         'Male: 67 to 69 years','Male: 70 to 74 years','Male: 75 to 79 years','Male: 80 to 84 years','Male: 85 years and over',
         'Female','Female: Under 5 years','Female: 5 to 9 years','Female: 10 to 14 years','Female: 15 to 17 years','Female: 18 and 19 years',
         'Female: 20 years','Female: 21 years','Female: 22 to 24 years','Female: 25 to 29 years','Female: 30 to 34 years','Female: 35 to 39 years',
         'Female: 40 to 44 years','Female: 45 to 49 years','Female: 50 to 54 years','Female: 55 to 59 years','Female: 60 and 61 years','Female: 62 to 64 years',
         'Female: 65 and 66 years','Female: 67 to 69 years','Female: 70 to 74 years','Female: 75 to 79 years','Female: 80 to 84 years','Female: 85 years and over'
]
join.drop(columns, inplace=True, axis=1)
join.head()

,GISJOIN,CBSA,NAME,Total,GenZ,Millennials,GenX,BabyBoomer,SilentG
0,G10020,"Abbeville, LA Micro Area","Abbeville, LA Micro Area",57999,12980,11386,10932,15193,7508
1,G10100,"Aberdeen, SD Micro Area","Aberdeen, SD Micro Area",40602,7863,8366,6699,10918,6756
2,G10140,"Aberdeen, WA Micro Area","Aberdeen, WA Micro Area",72797,12894,13376,12872,21806,11849
3,G10180,"Abilene, TX Metro Area","Abilene, TX Metro Area",165252,32800,40520,29113,40236,22583
4,G10220,"Ada, OK Micro Area","Ada, OK Micro Area",37492,7348,8916,6365,9293,5570

In [64]:
index = join.index
print(len(index))

955

In [83]:
# msa_data_2010 = shp_2.merge(join, on='GISJOIN')
# msa_data_2010.head()
shp_2.merge(join, on=('GISJOIN'), suffixes=('GISJOIN', 'GISJOIN'))

,GISJOIN,NAMEGISJOIN,NAMELSAD,LSAD,Area,geometry,CBSA,NAMEGISJOIN,Total,GenZ,Millennials,GenX,BabyBoomer,SilentG
0,G10100,"Aberdeen, SD","Aberdeen, SD Micro Area",M2,2882.0200,"POLYGON ((-98.15597 45.93609, -98.15390 45.936...","Aberdeen, SD Micro Area","Aberdeen, SD Micro Area",40602,7863,8366,6699,10918,6756
1,G10140,"Aberdeen, WA","Aberdeen, WA Micro Area",M2,1929.4900,"MULTIPOLYGON (((-124.00930 46.84129, -124.0094...","Aberdeen, WA Micro Area","Aberdeen, WA Micro Area",72797,12894,13376,12872,21806,11849
2,G10180,"Abilene, TX","Abilene, TX Metro Area",M1,2757.7100,"POLYGON ((-99.11866 32.07959, -99.11896 32.079...","Abilene, TX Metro Area","Abilene, TX Metro Area",165252,32800,40520,29113,40236,22583
3,G10220,"Ada, OK","Ada, OK Micro Area",M2,725.2180,"POLYGON ((-96.77568 34.89996, -96.77543 34.900...","Ada, OK Micro Area","Ada, OK Micro Area",37492,7348,8916,6365,9293,5570
4,G10260,"Adjuntas, PR","Adjuntas, PR Micro Area",M2,67.0959,"POLYGON ((-66.67049 18.15283, -66.67055 18.152...","Adjuntas, PR Micro Area","Adjuntas, PR Micro Area",19483,4034,4316,3564,4981,2588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,G49620,"York-Hanover, PA","York-Hanover, PA Metro Area",M1,910.7470,"POLYGON ((-76.72162 40.12007, -76.72158 40.120...","York-Hanover, PA Metro Area","York-Hanover, PA Metro Area",434972,83681,79545,85610,125079,61057
887,G49660,"Youngstown-Warren-Boardman, OH-PA","Youngstown-Warren-Boardman, OH-PA Metro Area",M1,1744.3600,"POLYGON ((-79.99978 41.17186, -80.00033 41.171...","Youngstown-Warren-Boardman, OH-PA Metro Area","Youngstown-Warren-Boardman, OH-PA Metro Area",565773,99360,101523,97761,166254,100875
888,G49700,"Yuba City, CA","Yuba City, CA Metro Area",M1,1252.4200,"POLYGON ((-121.02209 39.39156, -121.02233 39.3...","Yuba City, CA Metro Area","Yuba City, CA Metro Area",166892,39227,36432,32026,39962,19245
889,G49740,"Yuma, AZ","Yuma, AZ Metro Area",M1,5519.1200,"POLYGON ((-113.33392 33.37743, -113.33392 33.3...","Yuma, AZ Metro Area","Yuma, AZ Metro Area",195751,45329,43879,34271,41626,30646
890,G49780,"Zanesville, OH","Zanesville, OH Micro Area",M2,672.5860,"POLYGON ((-81.71628 40.15217, -81.71628 40.152...","Zanesville, OH Micro Area","Zanesville, OH Micro Area",86074,16913,16605,15806,23566,13184

In [75]:
index = msa_data_2010.index
print(len(index))

891

In [76]:
from shapely.geometry import Point, MultiPoint, LineString, Polygon, shape

msa_data_2010 = gpd.GeoDataFrame(msa_data_2010)
msa_data_2010['lat']=msa_data_2010.centroid.y
msa_data_2010['long']=msa_data_2010.centroid.x
genZ_density = []
millennial_density = []
genX_density = []
babyBoomer_density = []
silentG_density = []
for index, row in msa_data_2010.iterrows(): 
    genZ_density.append(float(row['GenZ'])/float(row['Area']))
    millennial_density.append(float(row['Millennials']/float(row['Area'])))
    genX_density.append(float(row['GenX']/float(row['Area'])))
    babyBoomer_density.append(float(row['BabyBoomer']/float(row['Area'])))
    silentG_density.append(float(row['SilentG']/float(row['Area'])))
msa_data_2010['GenZ_Density'] = genZ_density
msa_data_2010['Millennial_Density'] = millennial_density
msa_data_2010['GenX_Density'] = genX_density
msa_data_2010['BabyBoomer_Density'] = babyBoomer_density
msa_data_2010['SilentG_Density'] = silentG_density
msa_data_2010.head()

,GISJOIN,NAME_x,NAMELSAD,LSAD,Area,geometry,CBSA,NAME_y,Total,GenZ,...,GenX,BabyBoomer,SilentG,lat,long,GenZ_Density,Millennial_Density,GenX_Density,BabyBoomer_Density,SilentG_Density
0,G10100,"Aberdeen, SD","Aberdeen, SD Micro Area",M2,2882.0200,"POLYGON ((-98.15597 45.93609, -98.15390 45.936...","Aberdeen, SD Micro Area","Aberdeen, SD Micro Area",40602,7863,...,6699,10918,6756,45.521579,-98.695954,2.728295,2.902825,2.324411,3.788315,2.344189
1,G10140,"Aberdeen, WA","Aberdeen, WA Micro Area",M2,1929.4900,"MULTIPOLYGON (((-124.00930 46.84129, -124.0094...","Aberdeen, WA Micro Area","Aberdeen, WA Micro Area",72797,12894,...,12872,21806,11849,47.150967,-123.772758,6.682595,6.932402,6.671193,11.301432,6.141001
2,G10180,"Abilene, TX","Abilene, TX Metro Area",M1,2757.7100,"POLYGON ((-99.11866 32.07959, -99.11896 32.079...","Abilene, TX Metro Area","Abilene, TX Metro Area",165252,32800,...,29113,40236,22583,32.449690,-99.717678,11.893926,14.693351,10.556948,14.590367,8.189041
3,G10220,"Ada, OK","Ada, OK Micro Area",M2,725.2180,"POLYGON ((-96.77568 34.89996, -96.77543 34.900...","Ada, OK Micro Area","Ada, OK Micro Area",37492,7348,...,6365,9293,5570,34.728000,-96.684439,10.132126,12.294234,8.776671,12.814078,7.680449
4,G10260,"Adjuntas, PR","Adjuntas, PR Micro Area",M2,67.0959,"POLYGON ((-66.67049 18.15283, -66.67055 18.152...","Adjuntas, PR Micro Area","Adjuntas, PR Micro Area",19483,4034,...,3564,4981,2588,18.179733,-66.753957,60.122899,64.325838,53.118000,74.237025,38.571656

In [77]:
index = msa_data_2010.index
print(len(index))

891

In [78]:
msa_list_2010 = []

for row in msa_data_2010.itertuples(index=True):
    msa = {} #node dict
    msa['Name'] = getattr(row, "NAMELSAD")
    msa['Total'] = getattr(row, "Total")
    msa['Lat'] = getattr(row, "lat")
    msa['Long'] = getattr(row, "long")
    msa['GenZ'] =  getattr(row, "GenZ")
    msa['Millennials'] = getattr(row, "Millennials")
    msa['GenX'] = getattr(row, "GenX")
    msa['BabyBoomers'] = getattr(row, "BabyBoomer")
    msa['silentG'] = getattr(row, 'SilentG')
    msa['GenZ_Density'] = getattr(row, 'GenZ_Density')
    msa['Millennials_Density'] = getattr(row, 'Millennial_Density')
    msa['GenX_Density'] = getattr(row, 'GenX_Density')
    msa['BabyBoomers_Density'] = getattr(row, 'BabyBoomer_Density')
    msa['silentG_Density'] = getattr(row, 'SilentG_Density')
    msa_list_2010.append(msa)

import json
msa_json_2010 = json.dumps(msa_list_2010) #dumps the list into a json

## output: write a json file
with open('msa_2010.json','w') as  json_file:
    json_file.write(msa_json_2010)
    print ('list is converted to json!')
    json_file.close()

list is converted to json!

In [79]:
msa_json_load = json.loads(msa_json_2010) #load the json
geojson_2010 = {"type":"FeatureCollection"} 
features = []
for i in msa_json_load: 
    properties = {} #properties dictionary
    centroids = []
    name = (i['Name'])
    long = (i["Long"]) #finds the latitude in the json
    lat = (i["Lat"]) #finds the longitude in the json
    centroids.append(long)
    centroids.append(lat)
    total = (i['Total'])
    genZ = (i['GenZ'])
    millennial = (i['Millennials'])
    genX = (i['GenX'])
    babyBoomer = (i['BabyBoomers'])
    silentG = (i['silentG'])
    genZ_d = (i['GenZ_Density'])
    millennial_d = (i['Millennials_Density'])
    genX_d = (i['GenX_Density'])
    babyBoomer_d = (i['BabyBoomers_Density'])
    silentG_d = (i['silentG_Density'])
    msa_dict = {"type":"Feature","geometry":{"type":"Point","coordinates":centroids},"properties":{"MSA": name, "Total": total, "GenZ":genZ, "GenZ_Density": genZ_d,
                                                                                                       "Millennials": millennial, "Millennials_Density": millennial_d,
                                                                                                       "GenX": genX, "GenX_Density": genX_d, "BabyBoomer":babyBoomer, 
                                                                                                       "BabyBoomers_Density": babyBoomer_d, "SilentG":silentG,
                                                                                                      "SilentG_Density": silentG_d}}
    features.append(msa_dict)

    
geojson_2010.update({"features":features})

msa_geojson = json.dumps(geojson_2010) #dump the json into a geojson

with open('msa_2010_geojson.json','w') as  geojson_file:
    geojson_file.write(msa_geojson)
    print ('json is converted to geojson!')

json is converted to geojson!