In [4]:
import pandas as pd
import geopandas as gpd
import shapely
import os
import matplotlib

In [5]:
city = gpd.read_file('UA_Top_Cities.geojson')
city.head()

,Join,Urban_Area,Total,GZ_2018,GZ_D_2018,ML_2018,ML_D_2018,GX_2018,GX_D_2018,BB_2018,...,BB_2013,BB_D_2013,SG_2013,SG_D_2013,GZ_ch,ML_ch,GX_ch,BB_ch,SG_ch,geometry
0,G00199,"Aberdeen--Bel Air South--Bel Air North, MD",216575,54816,414.683634,40284,304.748896,59384,449.240603,49457,...,52654,398.440692,17526,132.621863,10887,-666,-1600,-3197,-4892,POINT (-76.30359 39.51292)
1,G00280,"Abilene, TX",113988,32849,595.842097,30422,551.819181,23536,426.915266,20039,...,21666,393.113560,10151,184.182394,9165,-81,-1706,-1627,-3009,POINT (-99.74665 32.42850)
2,G00766,"Akron, OH",568131,135896,409.148658,121306,365.221840,139300,419.397246,131682,...,140571,423.251261,58420,175.899287,32086,-3093,-3094,-8889,-18473,POINT (-81.49287 41.06656)
3,G00901,"Albany, GA",93904,26959,374.890091,21099,293.401314,22482,312.633222,18306,...,19870,276.270811,7428,103.278288,5314,-2131,-1134,-1564,-2370,POINT (-84.17045 31.59096)
4,G00955,"Albany, OR",60072,15806,657.765709,12341,513.569949,15515,645.655762,12458,...,12724,529.592424,5000,208.107680,3181,618,149,-266,-1048,POINT (-123.09151 44.63158)

In [6]:
count = 0
for i in city.columns:
    print (count, i)
    count = count + 1

0 Join
1 Urban_Area
2 Total
3 GZ_2018
4 GZ_D_2018
5 ML_2018
6 ML_D_2018
7 GX_2018
8 GX_D_2018
9 BB_2018
10 BB_D_2018
11 SG_2018
12 SG_D_2018
13 Total_1
14 GZ_2013
15 GZ_D_2013
16 ML_2013
17 ML_D_2013
18 GX_2013
19 GX_D_2013
20 BB_2013
21 BB_D_2013
22 SG_2013
23 SG_D_2013
24 GZ_ch
25 ML_ch
26 GX_ch
27 BB_ch
28 SG_ch
29 geometry

In [8]:
urban = []
for index, row in city.iterrows():
    urban.append("Urban_Area")
city["Properties"] = urban
main = []
feature = {}
for index, row in city.iterrows():
    jsonlist = []
    yr2018 = [{"Generation": "Generation Z","Value":(row['GZ_2018']/row['Total']),"Color":"#003d13"},
              {"Generation": "Millennials","Value":(row['ML_2018']/row['Total']),"Color":"#558c58"},
              {"Generation": "Generation X","Value":(row['GX_2018']/row['Total']),"Color":"#fdcf79"},
              {"Generation": "Baby Boomers","Value":(row['BB_2018']/row['Total']),"Color":"#9463ab"},
              {"Generation": "Silent Generation","Value":(row['SG_2018']/row['Total']),"Color":"#652187"}]
    jsonlist.append(yr2018)
    
    yr2013 = [{"Generation": "Generation Z","Value":(row['GZ_2013']/row['Total_1']),"Color":"#003d13"},
              {"Generation": "Millennials","Value":(row['ML_2013']/row['Total_1']),"Color":"#558c58"},
              {"Generation": "Generation X","Value":(row['GX_2013']/row['Total_1']),"Color":"#fdcf79"},
              {"Generation": "Baby Boomers","Value":(row['BB_2013']/row['Total_1']),"Color":"#9463ab"},
              {"Generation": "Silent Generation","Value":(row['SG_2013']/row['Total_1']),"Color":"#652187"}]
    jsonlist.append(yr2013)
    
    change = [{"Generation": "Generation Z","Value":(row['GZ_ch']),"Color":"#003d13","Totalyr2018": row['Total'],"Totalyr2013":row['Total_1'], 'Gen2013':row['GZ_2013']},
              {"Generation": "Millennials","Value":(row['ML_ch']),"Color":"#558c58","Totalyr2018": row['Total'],"Totalyr2013":row['Total_1'], 'Gen2013':row['ML_2013']},
              {"Generation": "Generation X","Value":(row['GX_ch']),"Color":"#fdcf79","Totalyr2018": row['Total'],"Totalyr2013":row['Total_1'], 'Gen2013':row['GX_2013']},
              {"Generation": "Baby Boomers","Value":(row['BB_ch']),"Color":"#9463ab","Totalyr2018": row['Total'],"Totalyr2013":row['Total_1'], 'Gen2013':row['BB_2013']},
              {"Generation": "Silent Generation","Value":(row['SG_ch']),"Color":"#652187","Totalyr2018": row['Total'],"Totalyr2013":row['Total_1'], 'Gen2013':row['SG_2013']}]
    c = row['Urban_Area']
    jsonlist.append(c)
    jsonlist.append(change)
    this = {"City":c,"yr2018":yr2018,"yr2013":yr2013,"change":change}
    main.append({row['Properties']:this})
feature.update({"Feature":main}) 
    

    
import json
bg_json = json.dumps(feature) #dumps the list into a json

## output: write a json file
with open('cities.json','w') as  json_file:
    json_file.write(bg_json)
    print ('Converted to json!')
    json_file.close()

Converted to json!